@media screen and (max-width:767px){
nav a{
    display: none;
}
}

body html{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav {
    background-color: black;
}

.div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div#home{
    background: url(../images/hero-image2.jpg);
    color: honeydew;
    width: 1262px;
    height: 350px;
    text-align: center;
}
.btn{
    background-color: red;
    color: white;
    font-size: 70%;
    padding: 8px 14px;
    border-radius: 5px;
    
}
h1{
    width: 400px;
    height: 80px;
    margin-left: 450px;
    flex-wrap: wrap;
}
h5{
    width: 800px;
    margin-left: 250px;
}

i{
    color: red;
}
.fa{
    width: 100px;
    height: 100px;
    color: black;
}
.jpg{
    width: 1262px;
    height: 350px;
}

img#code{
    width: 87px;
    height: 87px;
}

div#who{
    width: 1262px;
    height: 300px;
    text-align: center;
}

div#get-involved{
    background-color:rgb(224, 221, 221);
    margin: 0;
    height: 190px;
    display: flex;

}

h2{
    color: red;
    height: 60px;
}

h3{

    color: red;
    height: 20px;
}

p{
    background-color: rosybrown;
    height: 80px;
    justify-content: center;
}

footer{
    background-color: red;
    margin: 0;
}

